@model EndSubscriptionViewModel

<section class="endsub">
    <div class="container">
        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
        {
            <div class="errormessage">
                @ViewData["ErrorMessage"]
            </div>
        }
        @if (!string.IsNullOrEmpty(ViewData["Success"]?.ToString()))
        {
            <div class="errormessage">
                @ViewData["Success"]
            </div>
        }
        <div class="mb-3">
            <form asp-action="EndSubscription" asp-controller="Subscribe" method="post" novalidate>
            <label asp-for="Email" class="form-label">Enter your email address to end your subscription</label>
            <input asp-for="Email" type="email" class="form-control" />
            <button type="submit">End subscription</button>
            </form>
        </div>
    </div>
</section>

<script defer src="~/js/validation.js"></script>