<section class="dashboard">
            <div class="container">
                <div class="left">
                    <div><img src="~/images/Dashboard.svg" alt="Views dashboard template in light mode"></div>
                </div>
                <div class="right">
                    <div class="title">
                        <h1>Manage Your Work</h1>
                    </div>
                    <div class="checkbox">
                        <div class="check-img"><img src="~/images/checkbox-icon.svg" alt=""></div>
                        <p>Powerful project management</p>
                    </div>
                    <div class="checkbox">
                        <div class="check-img"><img src="~/images/checkbox-icon.svg" alt=""></div>
                        <p>Transparent work management</p>
                    </div>
                    <div class="checkbox">
                        <div class="check-img"><img src="~/images/checkbox-icon.svg" alt=""></div>
                        <p>Manage work & focus on the most important tasks</p>
                    </div>
                    <div class="checkbox">
                        <div class="check-img"><img src="~/images/checkbox-icon.svg" alt=""></div>
                        <p>Track your progress with interactive charts</p>
                    </div>
                    <div class="checkbox">
                        <div class="check-img"><img src="~/images/checkbox-icon.svg" alt=""></div>
                        <p>Easiest way to track time spent on tasks</p>
                    </div>
                    <a class="btn-theme-s" asp-action="UnderConstruct" asp-controller="Home">Learn More <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
</section>