<section class="download-app">
    <div class="container">
        <div class="left">
            <div><img src="~/images/Mobile-app.svg" alt=""></div>
        </div>
        <div class="right">
            <div class="title">
                <h1>Download Our App for Any Devices:</h1>
            </div>
            <div class="app-store">
                <div class="ratings">
                    <p>App Store</p>
                    <div><img src="~/images/rating.svg" alt="five stars rating"></div>
                    <h3>Editor's Choice</h3>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <a><img src="~/images/appstore.svg" class="App-store-img" alt="Download button for app store"></a>
            </div>
            <div class="google-play">
                <div class="ratings">
                    <p>Google Play</p>
                    <div><img src="~/images/rating.svg" alt="five stars rating"></div>
                    <h3>App of the Day</h3>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <a><img src="~/images/googleplay.svg" class="google-play-img" alt="Download button for google-play"></a>
            </div>
        </div>
    </div>
</section>