@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="download-app">
    <div class="container">
        <div class="left">
            <div><img src="images/Mobile-app.svg" alt=""></div>
        </div>
        <div class="right">
            <div class="title">
                <h1>Download Our App for Any Devices:</h1>
            </div>
            <div class="app-store">
                <div class="ratings">
                    <p>App Store</p>
                    <div><img src="images/rating.svg" alt="five stars rating"></div>
                    <h3>Editor's Choice</h3>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>
                <a href="#"><img class="App-store-img" src="images/appstore.svg" alt="Download button for app store"></a>
            </div>
            <div class="google-play">
                <div class="ratings">
                    <p>Google Play</p>
                    <div><img src="images/rating.svg" alt="five stars rating"></div>
                    <h3>App of the Day</h3>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>
                <a href="#">
                    <div><img class="google-play-img" src="images/googleplay.svg" alt="Download button for google-play"></div>
                </a>
            </div>
        </div>
    </div>
</section>