<section class="lightanddark">
    <div class="dark">
        <div class="container">
            <div class="title">
                <h1 id="darkmode-title">Switch Between Light & Dark Mode</h1>
            </div>
            <div class="image">
                <div class="darkmode-img"><img src="~/images/Screen-darkmode.svg" alt="Dark mode"></div>
            </div>
        </div>
    </div>


    <div class="light">
        <div class="container">
            <div class="title">
                <h1 id="lightmode-title">Switch Between Light & Dark Mode</h1>
            </div>
            <div class="image">
                <div class="lightmode-img"><img src="~/images/Screen-lightmode.svg" alt="Light mode"></div>
            </div>
        </div>
    </div>
</section>
