@model SubscriberModel

<section class="newsletter" id="newsletter">
    <div class="container">
        <div class="title">
            Don't Want to Miss Anything?
            <div class="arrows"><img src="~/images/arrows.svg" alt="arrows"></div>
        </div>
        <form asp-action="Subscribe" asp-controller="Subscribe" method="post" novalidate>
            <div class="sign-up-checkbox">
                <h6>Sign up for Newsletters</h6>
                <div class="grid">
                    <div class="checkbox">
                        <input type="checkbox" asp-for="DailyNewsletter">
                        <label asp-for="DailyNewsletter">Daily Newsletter</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" asp-for="AdvertisingUpdates">
                        <label asp-for="AdvertisingUpdates">Advertising updates</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" asp-for="WeekInReview">
                        <label asp-for="WeekInReview">Week in Review</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" asp-for="EventUpdates">
                        <label asp-for="EventUpdates">Event Updates</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" asp-for="StartupsWeekly">
                        <label asp-for="StartupsWeekly">Startups Weekly</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" asp-for="Podcasts">
                        <label asp-for="Podcasts">Podcasts</label>
                    </div>
                </div>
            </div>
            <div class="sign-up">
                <input asp-for="Email">
                <button class="btn-theme" type="submit">
                    Subscribe*
                </button>
            </div>
        </form>

        <span class="information">
            @if (ViewData["Status"]?.ToString() == "Success")
            {
               <span class="alert alert-success">
                   You have been subscribed
               </span>
            }
            else if (ViewData["Status"]?.ToString() == "AlreadyExists")
            {
                <span class="alert alert-warning">
                   You have already subscribed
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "Invalid")
            {
                <span class="alert alert-danger">
                    You must enter an valid email address
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "ConnectionFailed")
            {
                <span class="alert alert-danger">
                    Unable to contact the server. Please try again later.
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "Unauthorized")
            {
                <span class="alert alert-danger">
                    Unauthorized
                </span>
            }
            else
            {
                <span class ="terms">
                        * Yes, I agree to the <a>terms</a> and <a>privacy policy</a>.   
                 </span>
            }
        </span>
    </div>
</section>
<script defer src="~/js/validation.js"></script>