
@{
}


<section class="newsletter">
    <div class="container">
        <div class="title">
            Don't Want to Miss Anything?
            <div class="arrows"><img src="images/arrows.svg" alt="arrows"></div>
        </div>
        <div class="sign-up-checkbox">
            <h6>Sign up for Newsletters</h6>
            <div class="grid">
                <div class="checkbox">
                    <input type="checkbox" id="Daily" name="Daily" value="Daily Newsletter">
                    <label for="Daily">Daily Newsletter</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="Advertising" name="Advertising updates" value="Advertising updates">
                    <label for="Advertising">Advertising updates</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="Week" name="Week" value="Week in Review">
                    <label for="Week">Week in Review</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="Event" name="Event Updates" value="Event Updates">
                    <label for="Event Updates">Event Updates</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="Startups" name="Startups" value="Startups">
                    <label for="Startups">Startups Weekly</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="Podcasts" name="Podcasts" value="Podcasts">
                    <label for="Podcasts">Podcasts</label>
                </div>
            </div>
        </div>

        <div class="sign-up">
            <input id="email" type="email" placeholder="Your Email">
            <a href="#">
                <button class="btn-theme">
                    Subscribe*
                </button>
            </a>
        </div>
        <div class="terms">
            <p>* Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a>.</p>
        </div>
    </div>
</section>