@model AccountDetailsViewModel 
@{
    ViewData["Title"] = $"{Model.ProfileView.FirstName} {Model.ProfileView.LastName}";
}

<section class="account-details">
    <div class="container">

        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
        {
            <div class="errormessage">
                @ViewData["ErrorMessage"]
            </div>
        }

        <div class="user">
            <div class="user-img">
                <img src="~/images/@Model.ProfileView.ProfileImageUrl" alt="">
            </div>
            <h6 class="name">@Model.ProfileView.FirstName @Model.ProfileView.LastName</h6>
            <p class="email">@Model.ProfileView?.Email</p>
            <div class="btn-user">
                <a asp-controller="Account" asp-action="Details"><button class="button btn-theme"><i class="fa-light fa-gear"></i> Account Details</button></a>
                <a asp-controller="Auth" asp-action="signout" class="signout"><i class="fa-light fa-right-from-bracket"></i> Sign Out</a>
            </div>
        </div>

        <div class="details-form">
            <h2 class="title">Account Details</h2>
            <h6>Basic info</h6>
            <form class="form-basicinfo" method"post" asp-controller="Account" asp-action="Index">
                <div class="name">
                    <div class="first-name">
                        <label asp-for="BasicInfoForm.FirstName" class="form-label">First name</label>
                        <div class="mb-3">
                            @if(Model.BasicInfoForm.IsExternalAccount)
                            {
                                <input asp-for="BasicInfoForm.FirstName" type="text" class="form-control" disabled/>
                                <input asp-for="BasicInfoForm.FirstName" type="text" class="form-control" hidden/>
                                <input asp-for="BasicInfoForm.IsExternalAccount" type="text" class="form-control" hidden />
                            }
                            else
                            {
                                <input asp-for="BasicInfoForm.FirstName" type="text" class="form-control" />
                                <span asp-validation-for="BasicInfoForm.FirstName"></span>
                            }
                        </div>
                    </div>
                    <div class="last-name">
                        <label asp-for="BasicInfoForm.LastName" class="form-label">Last name</label>
                        @if (Model.BasicInfoForm.IsExternalAccount)
                        {
                            <input asp-for="BasicInfoForm.LastName" type="text" class="form-control" disabled />
                            <input asp-for="BasicInfoForm.LastName" type="text" class="form-control" hidden />
                        }
                        else
                        {
                            <input asp-for="BasicInfoForm.LastName" type="text" class="form-control" />
                            <span asp-validation-for="BasicInfoForm.LastName"></span>
                        }
                    </div>
                </div>
                <div class="contact-info">
                    <div class="email">
                        <label asp-for="BasicInfoForm.Email" class="form-label">Email address</label>
                        <div class="mb-3">
                            @if (Model.BasicInfoForm.IsExternalAccount)
                            {
                                <input asp-for="BasicInfoForm.Email" type="text" class="form-control" disabled />
                                <input asp-for="BasicInfoForm.Email" type="text" class="form-control" hidden />
                            }
                            else
                            {
                                <input asp-for="BasicInfoForm.Email" type="text" class="form-control" />
                                <span asp-validation-for="BasicInfoForm.Email"></span>
                            }                       
                        </div>
                    </div>
                    <div class="phone">
                        <label asp-for="BasicInfoForm.Phone" class="form-label">Phone<div class="optional">(optional) </div></label>
                        <input asp-for="BasicInfoForm.Phone" type="text" class="form-control">
                        <span asp-validation-for="BasicInfoForm.Phone"></span>
                    </div>
                </div>
                <div class="bio">
                    <label asp-for="BasicInfoForm.Bio" class="form-label">Bio <div class="optional">(optional) </div></label>
                    <textarea asp-for="BasicInfoForm.Bio" type="text" class="form-control"></textarea>
                    <span asp-validation-for="BasicInfoForm.Bio"></span>
                </div>
                <div class="buttons">
                    <a><button type="reset" class="button btn-gray">Cancel</button></a>
                    <a><button type="submit" class="button btn-theme">Save changes</button></a>
                </div>
            </form>
            <hr>

            <div class="address">
                <h6>Address</h6>
                <form class="form-address" method="post" asp-controller="Account" asp-action="Index">
                    <label asp-for="AddressInfoForm.AddressLine_1" class="form-label">Address line 1</label>
                    <div class="mb-3">
                        <input asp-for="AddressInfoForm.AddressLine_1" type="text" class="form-control" id="address" placeholder="Enter your address line">
                        <span asp-validation-for="AddressInfoForm.AddressLine_1"></span>
                    </div>
                    <label asp-for="AddressInfoForm.AddressLine_2" class="form-label">Address line 2 <div class="optional">(optional) </div></label>
                    <div class="mb-3">
                        <input asp-for="AddressInfoForm.AddressLine_2" type="text" class="form-control" id="address2" placeholder="Enter your second address line">
                        <span asp-validation-for="AddressInfoForm.AddressLine_2"></span>
                    </div>
                    <div class="postalcode-city">
                        <div class="postalcode">
                            <label asp-for="AddressInfoForm.PostalCode" class="form-label">Postal code</label>
                            <div class="mb-3">
                                <input asp-for="AddressInfoForm.PostalCode" type="text" class="form-control" id="postalcode" placeholder="Enter your postal code">
                                <span asp-validation-for="AddressInfoForm.PostalCode"></span>
                            </div>
                        </div>
                        <div class="city">
                            <label asp-for="AddressInfoForm.City" class="form-label">City</label>
                            <div class="mb-3">
                                <input asp-for="AddressInfoForm.City" type="text" class="form-control" id="city" placeholder="Enter your city">
                                <span asp-validation-for="AddressInfoForm.City"></span>
                            </div>
                        </div>
                    </div>
                    <div class="buttons">
                        <a><button type="reset" class="button btn-gray">Cancel</button></a>
                        <a><button type="submit" class="button btn-theme">Save changes</button></a>
                    </div>
                </form>
            </div>

        </div>
</section>