@model AccountDetailsViewModel
@{
    var user = await UserManager.GetUserAsync(User);
}
@if (user != null)
{
<div class="user">
    <div class="user-img">
        <img src="~/uploads/@user.ProfileImg" alt="profile image">
        <form enctype="multipart/form-data" method="post" asp-action="UploadImage" asp-controller="Account">
            <input type="file" id="uploadFile" hidden />
            <label for="uploadFile" class="btn btn-circle btn-circle-sm"><i class="fa-regular fa-refresh"></i></label>
        </form>
    </div>
    <h6 class="name">@Model.ProfileView.FirstName @Model.ProfileView.LastName</h6>
    <p class="email">@Model.ProfileView?.Email</p>
    <div class="btn-user">
        <a asp-controller="Account" asp-action="Index"><button class="button btn active"><i class="fa-light fa-gear"></i> Account Details</button></a>
        <a asp-action="AccountSecurity"><button class="button btn"><i class="fa-light fa-lock"></i> Security</button></a>
        <a asp-action="" asp-controller="SavedItems"><button class="button btn"><i class="fa-light fa-bookmark"></i> Saved Courses</button></a>
        <a asp-controller="Auth" asp-action="signout" class="signout"><i class="fa-light fa-right-from-bracket"></i> Sign Out</a>
    </div>
</div>
}