@model CourseCreateDto


<section class="createcourse">
    <div class="container">
        @if (!string.IsNullOrEmpty(ViewData["Success"]?.ToString()))
        {
            <div class="alert-success">@ViewData["Success"]</div>
        }
        @if (!string.IsNullOrEmpty(ViewData["Error"]?.ToString()))
        {
            <div class="alert-danger">@ViewData["Error"]</div>
        }
        <h1>@ViewData["Title"]</h1>


        <form method="post" class="courseform" asp-action="CreateCourse" asp-controller="Admin">
            <h2>Update course</h2>
            <div class="mb-3">
                <label class="form-label" asp-for="Title">Title</label>
                <input asp-for="Title" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Creator">Creator</label>
                <input asp-for="Creator" type="text"  class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Price">Price</label>
                <input asp-for="Price" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="DiscountPrice">Discount price</label>
               <input asp-for="DiscountPrice" type="text"  class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="EstimatedHours">Hours</label>
                <input asp-for="EstimatedHours" type="text"  class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="LikeParameter">Likes in percent (e.g 0,92)</label>
                <input asp-for="LikeParameter" type="text"  class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="UserVotes">Likes in numbers (e.g 3100)</label>
                <input asp-for="UserVotes" type="text"  class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="ImageName">Image name (e.g Course1.svg)</label>
                <input asp-for="ImageName" type="text"  class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="BigImageName">Big image name (e.g Bigimagecourse1.svg)</label>
                <input asp-for="BigImageName" type="text"  class="form-control">
            </div>
            <div class="checkbox-group">
                <div class="checkbox">
                    <input asp-for="IsDigital" type="checkbox" class="form-check-input" />
                    <label asp-for="IsDigital" class="form-check-label">Is digital</label>
                </div>
                <div class="checkbox">
                    <input asp-for="IsBestSeller" type="checkbox" class="form-check-input" />
                    <label asp-for="IsBestSeller" class="form-check-label">Is bestseller</label>
                </div>
            </div>
         
            <a><button type="submit" class="btn-theme">Create course</button></a>
        </form>
    </div>
</section>


<script defer src="~/js/inputfields.js"></script>

