@model CourseRegistrationFormViewModel

<form asp-action="Create" asp-controller="Courses" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" />
    </div>
    <div>
        <label asp-for="DiscountPrice"></label>
        <input asp-for="DiscountPrice" />
    </div>
    <div>
        <label asp-for="Creator"></label>
        <input asp-for="Creator" />
    </div>
    <div>
        <label asp-for="LikeParameter"></label>
        <input asp-for="LikeParameter" />
    </div>
    <div>
        <label asp-for="UserVotes"></label>
        <input asp-for="UserVotes" />
    </div>
    <div>
        <label asp-for="EstimatedHours"></label>
        <input asp-for="EstimatedHours" />
    </div>
    <div>
        <label asp-for="Category"></label>
        <input asp-for="Category" />
    </div>
    <div>
        <label asp-for="IsBestSeller"></label>
        <input asp-for="IsBestSeller" />
    </div>
    <div>
        <label asp-for="ImageURL"></label>
        <input asp-for="ImageURL" />
    </div>
    <button type="submit">Create</button>

    
</form>