.lightanddark {
    position: relative;
    width: 100%;
    height: 80vh;
    

    .dark {
        background-color: $gray-900;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);

        .container {
            display: flex;
            flex-direction: column;
            padding: 20px;

            .title {
                position: relative;
                margin: 0 auto;
                color: var(--color-white);

                h1 {
                    padding: 50px;
                }

                #darkmode-title {
                    color: $white;
                }
            }

            .image {
                margin: auto;
                padding-bottom: 80px;
            }
        }
    }

    .light {
        background-color: white;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);

        .container {
            display: flex;
            flex-direction: column;
            padding: 20px;

            .title {
                position: relative;
                margin: 0 auto;
                color: $gray-900;

                h1 {
                    padding: 50px;
                }

                #lightmode-title {
                    color: $gray-900;
                }
            }

            .image {
                margin: auto;
                padding-bottom: 80px;
                height: 720px;
            }
        }
    }
}
