.sign-in {
    height: 100%;

    .container {
        padding: 40px;
        max-width: 50vh;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        .errormessage {
            background: var(--color-danger);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            border-radius: 8px;
        }

        form {
            @include standard-heading;

            input {
                padding: 1rem;

                input::placeholder {
                    color: var(--color-gray-400);
                }
            }

            .form-check-label {
                @include standard-text;
            }

            button {
                width: 100%;
            }

            .form-text {
                text-align: center;
            }

            .external-providers {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;

                .providers {
                    gap: 15px;
                    display: flex;
                }
            }
        }
    }
}

/*https://youtu.be/IttJNH0vLJs?t=3113*/