.sign-up {
    height: 100%;

    .container {
        padding: 40px;
        max-width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        .errormessage {
            background: #ff6b6b;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            border-radius: 8px;
            color: black;
        }


        form {
            @include standard-heading;

            .name {
                display: flex;
                gap: 1rem;

                .label-name {
                    display: flex;
                }

                .name {
                    display: flex;
                }
            }

            .mb-3 {
                position: relative;
                span {
                    &.field-validation-error {
                        position: absolute;
                        top: 0;
                        right: 0;
                        @include text-s;
                        color: $danger;
                    }
                }

                input {
                    padding: 1rem;
                    border-radius: 8px !important;
                    border: 1px solid $gray-400;

                    &.input-validation-error {
                        border: 2px solid $danger !important;
                        border-radius: 0.5rem !important;
                        color: $danger;
                    }

                    &::placeholder {
                        color: $gray-400;
                    }
                }

                .form-check {
                    display: flex;
                    justify-content: left;
                    align-content: center;
                    padding-left: 0;


                    .form-check-label {
                        @include standard-text;
                        margin-left: 10px;
                    }

                    .form-check-input {
                        margin: 0;
                    }
                }
            }




            button {
                width: 100%;
            }
        }
    }
}
/*
    https://youtu.be/IttJNH0vLJs?t=6822
    https://youtu.be/DQ7nMT-fUek?t=3484
*/
